.overlay {
  background-color: rgba(148, 141, 141, 0.733);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.modal {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: antiquewhite;
}

.closeModalBtn {
  width: 40px;
  background-color: blueviolet;
}